build/
.DS_Store
node_modules/
extern_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.drawio-chrome

package-lock.json
yarn-error.log
yarn.lock
pnpm-lock.yaml
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
bak.*
dist/
dist-tsc/
modules/
localIp.json
